@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500&display=swap');

@import "tailwindcss";

@layer base {
  body {
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
  }

  .font-mono {
    font-family: 'IBM Plex Mono', ui-monospace, monospace;
  }

}
body{
  overflow: hidden;

}
*{
  scrollbar-width: thin;
  scrollbar-color: #727372 #0a0809;
}